@using Primadenta_Web_App.Models.BusinessData
@model Primadenta_Web_App.ViewModels.IndexViewModel

@{
    var groups = Model.Products.GroupBy(x => new { x.ProductCategoryId, x.Name });
}
<div id="content" style="padding: 40px">
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-12">

                    <div class="heading">
                        <h2>Vartotojas</h2>
                    </div>
                </div>
            </div>
        </section>


        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Vartotojo nustatymai</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Slaptažodis:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Pasikeisti slaptažodį", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Susikurti", "SetPassword")
                    }
                    ]
                </dd>
                <hr />
                
            </dl>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            </div>
            @*<div class="col-md-6">
                <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
            </div>*@
            </div>
    </div>
</section>

@*<div class="custom-bottom-right">
    @Html.Raw(TempData["msg"])
</div>*@



<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

@section scripts
{

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                title: {
                    text: "Produktų pasiskirstymas kategorijose"
                },
                axisY: {
                    title: "Kiekis kategorijoje"
                },
                data: [{
                    type: "column",
                    showInLegend: true,
                    legendMarkerColor: "grey",
                    legendText: "Kiekis kategorijoje",
                    dataPoints: [
                        
                        @foreach (var categories in groups)
                        {
                            //var groups = Model.Products.GroupBy(x => new {x.ProductCategoryId});

                            <text>{ y: @categories.Key.ProductCategoryId, label: "@(categories.Key.Name)" },</text>
                        }
                        //{ y: 300878, label: "Venezuela" },
                        //{ y: 266455, label: "Saudi" },
                        //{ y: 169709, label: "Canada" },
                        //{ y: 158400, label: "Iran" },
                        //{ y: 142503, label: "Iraq" },
                        //{ y: 101500, label: "Kuwait" },
                        //{ y: 97800, label: "UAE" },
                        //{ y: 80000, label: "Russia" }
                    ]
                }]
            });
            chart.render();

            ////Better to construct options first and then pass it as a parameter
            //var options = {
            //    exportEnabled: true,
            //    animationEnabled: true,
            //    title: {
            //        text: "jQuery Spline Area Chart"
            //    },
            //    data: [
            //        {
            //            type: "splineArea", //change it to line, area, bar, pie, etc
            //            dataPoints: [
            //                { y: 10 },
            //                { y: 6 },
            //                { y: 14 },
            //                { y: 12 },
            //                { y: 19 },
            //                { y: 14 },
            //                { y: 26 },
            //                { y: 10 },
            //                { y: 22 }
            //            ]
            //        }
            //    ]
            //};
            //$("#chartContainer2").CanvasJSChart(options);

        }

    </script>
}
