@model Primadenta_Web_App.Models.BusinessData.ContactForm
@{
    ViewBag.Title = "Contacts";
}

<section>
    <div>
        <div id="map"></div>
    </div>
</section>

<section class="bar background-white">
    <div class="container">      
        <div class="row same-height-row">
            <div class="col-md-3">
                <div class="box-simple box-white same-height">
                    <div class="icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <h3>Adresas</h3>
                    <p>
                        Elniakampio 10-6 10100
                        <br>Vilnius, <strong>Lietuva</strong>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box-simple box-white same-height">
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <h3>Telefono numeris</h3>
                    <p>+370 650 75097</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box-simple box-white same-height">
                    <div class="icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <h3>SEO and SEM</h3>
                    <p>Turėdami klausimų visada galite kreiptis mūsų elektroninio pašto adresu.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box-simple box-white same-height">
                    <div class="icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <h3>Elektroninis paštas</h3>
                    <p>Turėdami klausimų visada galite kreiptis mūsų elektroninio pašto adresu.</p>
                    <strong><a href="mailto:">inga.numaviciene@gmail.com</a></strong>
                </div>
            </div>
        </div>
    </div>
</section>












<section class="bar background-pentagon no-mb">
    <div style="padding: 0 0 10px"class="container">
        <div class="row text-center">

            <div class="col-md-12">
                <div class="heading">
                    <h2>Kontaktų forma</h2>
                </div>
            </div>

            <div class="col-md-8 col-md-offset-2">

                
                
                
                @using (Html.BeginForm("Save", "Home", FormMethod.Post))
                {
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(p => p.Name)
                            @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.Name)

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(p => p.Surname)
                            @Html.TextBoxFor(p => p.Surname, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.Surname)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(p => p.Email)
                            @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.Email)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(p => p.Subject)
                            @Html.TextBoxFor(p => p.Subject, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.Subject)
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(p => p.Message)
                            @Html.TextAreaFor(p => p.Message, new { @class = "form-control", rows = 6 })
                            @Html.ValidationMessageFor(p => p.Message)
                        </div>
                    </div>
                    @Html.AntiForgeryToken()
                    <button type="submit" id="send" class="btn btn-template-main">Siųsti</button>

                }


            </div>
        </div>
        <!-- /.row -->
    </div>
</section>






    @section scripts
{
        <script>
            function initMap() {
                var uluru = {
                    lat: 54.739095899999995,
                    lng: 25.31090740000002
                };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 13,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH7vNUTINkx_l7FV3qRTsK_BpUM2gXhDE&callback=initMap">
        </script>

    }
